
    <form action="/ficha/add" method="POST">
      <div class="row mb-2">
        <div class="col">
          <label for="rut" class="form-label">Rut:</label>
          <input type="text" class="form-control" name="rut" id="rut" placeholder="p.e: 12345678-9" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label for="nombres" class="form-label">Nombres:</label>
          <input type="text" name="nombres" id="rut" class="form-control" placeholder="p.e: Camila Paz" />
        </div>
        <div class="col">
          <label for="apellidos" class="form-label">Apellidos:</label>
          <div class="input-group mb-2">
            <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Pérez Urrutia" />
            <button type="button" class="btn btn-primary" id="buscar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <label for="direccion" class="form-label">Direccion:</label>
        <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Los girasoles 890" />
      </div>
      <div class="mb-2">
        <label for="ciudad" class="form-label">Ciudad:</label>
        <input type="text" name="ciudad" id="ciudad" class="form-control" placeholder="Escribe un ciudad" />
      </div>
      <div class="mb-2">
        <label for="fono" class="form-label">Teléfono:</label>
        <input type="text" name="fono" id="fono" class="form-control" placeholder="Escribe un telefono" />
      </div>
      <div class="mb-2">
        <label for="email" class="form-label">Email:</label>
        <input type="text" name="email" id="email" class="form-control" placeholder="Escribe un email" />
      </div>
      <div class="mb-2">
        <label for="fechaNacimiento" class="form-label">Fecha Nacimiento:</label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control" placeholder="Selecciona fecha nacimiento" />
      </div>
      <div class="mb-2">
        <label for="estadoCivil" class="form-label">Estado Civil:</label>
        <select name="estadoCivil" id="estadoCivil" class="form-select">
          <option value="Default" selected disabled>Selecciona un estado civil</option>
          <option value="Soltero">Soltero</option>
          <option value="Casado">Casado</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="cometario" class="form-label">Comentarios:</label>
        <textarea name="comentario" id="comentario" cols="30" rows="10" class="form-control" placeholder="Escribe un comentario"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="reset" class="btn btn-secondary">Limpiar</button>
    </form>