<h2>Lista Pacientes</h2>

<div class="row bg-success mb-2">
  <div class="col ">Nombres</div>
  <div class="col"> Acciones</div>
</div>
{{#each fichas}}
  <div class="row">
    <div class="col">
      {{nombres}}
    </div>
    <div class="col">
      <button class="btn bg-info mb-2">Editar</button>
      <button class="btn bg-danger mb-2">Eliminar</button>
    </div>
  </div>
{{/each}}